.App{
    background-color: white;
    margin: auto;
    padding: auto;
    box-sizing: content-box;
    height: 60px;
    box-shadow: 3px 2px 2px 4px grey;
    text-align: center;
    border-radius: 5px;

}

.Ano{
    background-color: white;
    margin-top: 50px;
    padding: auto;
    box-sizing: content-box;
    height: 60px;
    box-shadow: 3px 2px 2px 4px grey;
    text-align: center;
    border-radius: 5px;
}